.header {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 50px;
  width: 100%;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  margin-right: 262px;
  height: 67px;
}

.list__item {
  padding-right: 23px;
  list-style-type: none;
}

.item__link {
  @include OpenSans-bold;
  font-size: 14px;
  line-height: 19px;
  color: $whiteStandart;

  text-decoration: none;

  &:active {
    color: $orangeActive;
  }

  &:hover:not(:active) {
    color: $WhiteHover;
  }
}

.navigation__list {
  display: flex;
  padding-left: unset;
}

.cart__svg {
  margin-left: 13px;
  block-size: 13px;
}

.divider {
  width: 51px;
  height: 0px;
  border-bottom: 1px solid $whiteBasic;
  transform: rotate(90deg);
}

.number__section {
  display: inline-block;
  width: 162px;
  margin-right: 45px;
}

.number {
  @include OpenSans-bold;

  text-decoration: none;
  font-size: 18px;

  &:active {
    color: $orangeActive;
  }

  &:hover:not(:active) {
    color: $WhiteHover;
  }
}
.number {
  @include OpenSans-bold;

  color: $whiteStandart;
  font-size: 18px;
  line-height: 25px;
}
.number__image {
  background: url("../../images/svg/phone-min.svg") left center no-repeat;
  padding-left: calc(23px + 8px);
}

.number__label {
  @include OpenSans-regular;

  color: $whiteStandart;
  font-size: 14px;
  line-height: 19px;
  margin: auto;
  text-decoration: none;
}

.button {
  @include OpenSans-bold;

  color: $whiteStandart;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  width: 157px;
  height: 47px;
  background-color: $orangeStatic;
  border: unset;
  cursor: pointer;

  &:active {
    background-color: $orangeActive;
  }
}
