body {
  overflow-x: hidden;
}
.hero {
  padding-top: 189px;
  background: url("../../images/hero.jpg") no-repeat top;
  background-size: 1600px 889px;
  margin: 0 auto;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin-top: 204px;
  padding: 0px 9px;
}

.headline__tittle {
  @include Tinos-regular;

  color: $orangeTittle;
  text-align: center;
  margin: unset;
}

.accost-text {
  font-size: 50px;
  line-height: 57px;
  margin-bottom: 22px;
}

.restaurant-text {
  font-size: 80px;
  line-height: 92px;
  margin-bottom: 13px;
}

.slogan-text {
  @include OpenSans-regular;

  font-size: 18px;
  color: $whiteStandart;
  text-align: center;
  margin-bottom: 22px;
  display: inline-block;

  &::before {
    content: url("../../images/svg/line-min.svg");
    position: relative;
    bottom: 5px;
    padding-right: 8px;
  }

  &::after {
    content: url("../../images/svg/line-min.svg");
    position: relative;
    bottom: 5px;
    padding-left: 8px;
  }
}

.headline__button {
  text-align: center;
  align-items: center;
}

.container-intro {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(349px, 1fr));
  margin-top: 124px;
}

.intro {
  width: 349px;
  min-height: 328px;
  background-color: $whiteStandart;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  box-shadow: $shadow1;
  margin-bottom: 50px;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }

  &::before {
    content: "";
    top: 48px;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url("../../images/svg/mask-group.svg") no-repeat;
  }
}

.intro-title {
  @include Tinos-regular;

  margin-bottom: 0px;
  color: $blackPrimary;

  span {
    color: $orangeGold;
  }
}

.intro-text {
  @include Tinos-regular;
  font-size: 26px;
  line-height: 30px;
  color: $greyBasic;
  padding: 0px 10px;
  margin-top: unset;
}
