// fonts and vars
@import "./base/fonts.scss";
@import "./base/vars.scss";

// blocks
@import "./blocks/header.scss";
@import "./blocks/hero-block.scss";
@import "./blocks/story-block.scss";
@import "./blocks/footer.scss";

body {
  background-color: $whiteStandart;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
}
