@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,700);
@import url(https://fonts.googleapis.com/css?family=Tinos:regular);
.header {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 50px;
  width: 100%;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  margin-right: 262px;
  height: 67px;
}

.list__item {
  padding-right: 23px;
  list-style-type: none;
}

.item__link {
  font-family: Open Sans;
  font-weight: 700;
  letter-spacing: 0em;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  text-decoration: none;
}
.item__link:active {
  color: #ff6701;
}
.item__link:hover:not(:active) {
  color: #ffffffcb;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: unset;
}

.cart__svg {
  margin-left: 13px;
  block-size: 13px;
}

.divider {
  width: 51px;
  height: 0px;
  border-bottom: 1px solid #ffffffe5;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.number__section {
  display: inline-block;
  width: 162px;
  margin-right: 45px;
}

.number {
  font-family: Open Sans;
  font-weight: 700;
  letter-spacing: 0em;
  text-decoration: none;
  font-size: 18px;
}
.number:active {
  color: #ff6701;
}
.number:hover:not(:active) {
  color: #ffffffcb;
}

.number {
  font-family: Open Sans;
  font-weight: 700;
  letter-spacing: 0em;
  color: #ffffff;
  font-size: 18px;
  line-height: 25px;
}

.number__image {
  background: url("../../images/svg/phone-min.svg") left center no-repeat;
  padding-left: calc(23px + 8px);
}

.number__label {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  color: #ffffff;
  font-size: 14px;
  line-height: 19px;
  margin: auto;
  text-decoration: none;
}

.button {
  font-family: Open Sans;
  font-weight: 700;
  letter-spacing: 0em;
  color: #ffffff;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  width: 157px;
  height: 47px;
  background-color: #ff7400;
  border: unset;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  cursor: pointer;
}
.button:active {
  border: 3px dotted red;
  color: red;
  background: rgba(0, 0, 0, 0);
}
.button:hover:not(:active) {
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
  border: 3px dotted #ff6701;
  color: #ff6701;
  background: rgba(0, 0, 0, 0);
}

body {
  overflow-x: hidden;
}

.hero {
  padding-top: 189px;
  background: url("../../images/hero.jpg") no-repeat top;
  background-size: 1600px 889px;
  margin: 0 auto;
}

.headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
  margin-top: 204px;
  padding: 0px 9px;
}

.headline__tittle {
  font-family: Tinos;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  color: #d67e35;
  text-align: center;
  margin: unset;
}

.accost-text {
  font-size: 50px;
  line-height: 57px;
  margin-bottom: 22px;
}

.restaurant-text {
  font-size: 80px;
  line-height: 92px;
  margin-bottom: 13px;
}

.slogan-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 22px;
  display: inline-block;
}
.slogan-text::before {
  content: url("../../images/svg/line-min.svg");
  position: relative;
  bottom: 5px;
  padding-right: 8px;
}
.slogan-text::after {
  content: url("../../images/svg/line-min.svg");
  position: relative;
  bottom: 5px;
  padding-left: 8px;
}

.headline__button {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-intro {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(349px, 1fr));
  margin-top: 124px;
}

.intro {
  width: 349px;
  min-height: 328px;
  background-color: #ffffff;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  -webkit-box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.intro:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.intro::before {
  content: "";
  top: 48px;
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url("../../images/svg/mask-group.svg") no-repeat;
}

.intro-title {
  font-family: Tinos;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  margin-bottom: 0px;
  color: #2c2c2c;
}
.intro-title span {
  color: #bc9060;
}

.intro-text {
  font-family: Tinos;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  font-size: 26px;
  line-height: 30px;
  color: #656363;
  padding: 0px 10px;
  margin-top: unset;
}

.story-block {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  padding-bottom: 182px;
  color: black;
}

.story__text {
  width: 444px;
  min-height: 422px;
  text-align: center;
}
.story__text h2 {
  font-family: Tinos;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  font-size: 54px;
  line-height: 62px;
}
.story__text h2 span {
  color: #d67e34;
}
.story__text p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  color: #656363;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.story__images {
  width: 539px;
  height: 498px;
  margin-left: 125px;
}

.story__number {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}
.story__number .text-number {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  font-size: 40px;
  line-height: 54px;
  margin-bottom: unset;
  color: #bc9060;
}
.story__number .text-label {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  font-size: 20px;
  line-height: 27px;
}

.image {
  position: relative;
  background-color: #ffffff;
  -webkit-box-shadow: 20px 0px 30px 3px #00000080;
          box-shadow: 20px 0px 30px 3px #00000080;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.image__cafe {
  bottom: 62px;
  width: 249px;
  height: 300px;
  left: 40px;
  z-index: 2;
}

.image__cake {
  width: 255px;
  height: 429px;
}

.footer {
  background: url("../../images/footer.jpg") no-repeat top;
  background-size: 1600px 397px;
  height: 100%;
  width: 100%;
}

.footer__container {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.8fr 0.25fr;
  grid-template-columns: 0.8fr 0.25fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__label {
  font-family: Tinos;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  font-size: 52px;
  line-height: 60px;
  color: #d67e34;
}

.footer__sale {
  font-family: Open Sans;
  font-weight: 700;
  letter-spacing: 0em;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
}

body {
  background-color: #ffffff;
}

.wrapper {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
}