// Orange
$orangeStatic: #ff7400;
$orangeActive: #ff6701;
$orangeTittle: #d67e35;
$orangeGold: #bc9060;

// White
$whiteStandart: #ffffff;
$whiteBasic: #ffffffe5;
$WhiteHover: #ffffffcb;

//Grey
$greyBasic: #656363;

//Black
$blackStandart: #000000;
$blackPrimary: #2c2c2c;

//Yellow

//Shadow
$shadow1: 10px 10px 40px rgba(0, 0, 0, 0.1);
$shadow2: 20px 0px 30px 3px #00000080;

// Mixins
@mixin OpenSans-bold {
  font-family: Open Sans;
  font-weight: 700;
  letter-spacing: 0em;
}

@mixin OpenSans-regular {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
}

@mixin Tinos-regular {
  font-family: Tinos;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
}
